.footer__container {
    @extend #navigation__container;
    min-height: 70vh;
    .copy {
        color: $light-color;
        padding: 12px;
        margin: 0;
    }
}

.footer__info {
    @include flex-center;
}

.footer__info--map {
    margin: 20px 0;
    width: 350px;
    height: 250px;
    iframe {
        width: 100%;
        height: 100%;
    }
}

.footer__info--links {
    width: 50%;
    margin: 20px 0;
    @include flex-center;
    gap: 20px;
    .links__social {
        display: flex;
        gap: 40px;
        .media-link {
            text-decoration: none;
            color: $lighter;
            transition: all 0.3s ease;
            &:hover {
                color: $light-hover;
                transform: scale(1.05);
            }
            .fa-brands {
                font-size: 40px;
            }
        }
    }
    .links__page {
        color: $lighter;
        a {
            transition: all 0.3s ease;
            &:hover {
                color: $light-hover;
                transform: scale(1.05);
            }
        }
    }
}

@media (min-width: 768px) {
    .footer__container {
        min-height: 400px;
    }

    .footer__info {
        flex-direction: row;
    }
}

@media (min-width: 992px) {
    .footer__info--map {
        width: 40%;
        max-width: 600px;
    }
    .footer__info--links {
        width: 30%;
    }
}
