.homeSection__guitars {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.guitar__cards {
    width: 350px;
    border: 1px solid $light-color;
    padding: 12px;
    .guitar-link {
        text-decoration: none;
        color: $dark-color;
    }
    .guitar-button {
        text-decoration: none;
        background-color: $dark-color;
        color: $lighter;
        @include title;
        font-size: 12px;
        padding: 8px;
        border: none;
        &:hover {
            background-color: $dark-hover;
            box-shadow: 0 4px 8px rgba($color: #000, $alpha: 0.3);
        }
    }
}

.guitar__cards--info {
    img {
        width: 100%;
        height: 400px;
        object-fit: cover;
        overflow: hidden;
    }
    .guitar-title {
        @include title;
        font-size: 16px;
        padding: 12px 0;
    }
    .guitar-price {
        font-size: 12px;
    }
}
